header img{
    float: left;
}
footer img{
    width: 60px;
    border-radius: 50%;
    float:left;
}
footer h3{
    padding-top: 2%;
    font-size: large;
    float: left;
}

section img{
    height: 200px;
    width: 100%;
}